Username=Bhairava
Assistantname=Bujji
GroqAPIKEY=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
CohereAPIKey=uqgW4ZaQ4eSSxRkR8CcxFjEDXPn0Xt2VZRACzO79
InputLanguage=en-US
AssistantVoice=en-US-JennyNeural
